## Build output
bin/
Debug/

## .NET
*.pdb
obj/

## OS
.DS_Store
Thumbs.db

## IDE
.vs/
.vscode/
*.user
*.suo
IDE/

## Test artifacts
tests/test-output/
/bin
.antigravitycli/7787c71c-6e2a-4148-a8ff-05163f6ce852.json
